.additional_layer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.ticket_container {
    max-width: 970px;
    width: 100%;
    height: 755px;
    margin: 0 auto;
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cancel_button {
    position: absolute;
    right: 262px;
    top: 50px;
}

.ticket_container h2 {
    font: 400 50px "Forum", serif;
    color: #9D8665;
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: -13px;
    letter-spacing: 0;
    border: none;
}

.ticket_container p {
    font: 300 18px "Roboto", sans-serif;
    color: #710707;
    border-bottom: 3px solid #740C11;
    padding-bottom: 9px;
}

.input_fields {
    margin-top: 60px;
    display: grid;
    grid-template-areas:
        "date_cont time_cont"
        "name_cont name_cont"
        "email_cont email_cont"
        "tel_cont tel_cont"
        "ticket_type ticket_type"
        "entry entry";
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.input_fields input,
.input_fields select {
    border: 1px solid #030303;
    height: 45px;
}

.input_fields input {
    width: 100%;
}

.entry_ticket {
    grid-area: entry;
    max-width: 400px;
    height: 135px;
}

.date_cont, 
.time_cont {
    max-width: 190px;
}

.date_cont {
    grid-area: date_cont;
}

.time_cont {
    grid-area: time_cont;
}

.name_cont {
    grid-area: name_cont;
}

.email_cont {
    grid-area: email_cont;
}

.tel_cont {
    grid-area: tel_cont;
}

.ticketType {
    grid-area: ticket_type;
}

.space {
    margin: 0 20px;
}

.booking {
    max-width: 400px;
    width: 100%;
}

.entry_ticket_block {
    grid-area: entry;
    border: 1px solid #030303;
    margin-top: 3px;
}

.entry_ticket_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 7px;
}

.entry_ticket_main p {
    padding: 18px 0 0 13px;
    font: 400 18px "Roboto", sans-serif;
    border: none;
    color: #030303;
}

.entry_ticket_main .age_selector {
    margin: 10px 0 0 79px;
    max-width: 104px;
    height: 35px;
    border: none;
}

.entry_ticket_main .age_selector button {
    background: black;
    border: none;
    width: 41px;
    text-align: center;
    font-size: 19px;
    color: #ffffff;
}

.entry_ticket_main .age_selector input {
    height: 24px;
    font-size: 19px;
    width: 35px;
}

h6 {
    padding: 8px 0 6px 13px;
    font: 400 18px "Forum", serif;
    color: #9D8665;
    border-bottom: 2px solid #740C11;
}


.overview {
    max-width: 530px;
    width: 100%;
    border: 1px solid #030303;
}

.overview_text ul {
    display: block;
}

.overview_text p {
    font: 500 22px "Roboto", sans-serif;
    color: #740C11;
    padding-top: 3px;
    border: none;
}

.overview_text ul p {
    color: #030303;
    font: 300 18px "Roboto", sans-serif;
    border: none;
    margin-left: 15px;
    line-height: 16px;
}

.overview_text li {
    display: flex;
}

.overview_header {
    display: flex;
    justify-content: space-between;
    padding: 24px 28px 0 29px;
}

.night_louvre {
    width: 150px;
    height: 120px;
}

.overview_text h4 {
    font: 500 32px "Roboto", sans-serif;
}

.basic_ticket_cost,
.senior_ticket_cost,
.total {
    display: flex;
    justify-content: space-between;
}

.cost {
    padding: 15px 28px 0 29px;
}

.basic_ticket_cost p,
.senior_ticket_cost p {
    color: #030303;
    font: 400 22px "Roboto", sans-serif;
    border: none;
    letter-spacing: 0.023em;
}

.total p {
    color: #030303;
    font: 400 32px "Roboto", sans-serif;
    border: none;
    letter-spacing: 0.01em;
    padding-top: 8px;
}

.basic_num,
.senior_num {
    padding: 1px 11px;
    background-color: #030303;
    color: #a4a4a3;
    font-size: 18px ;
    border-radius: 5px;
}

.senior_ticket_cost {
    border-bottom: 2px solid #740C11;
}

.cards {
    align-items: center;
}

.first_card,
.second_card {
    max-width: 360px;
    height: 211px;
    border-radius: 5px;
    position: relative;
}

.first_card {
    background-color: #a4a4a3;
    margin-left: 29px;
    z-index: 2;
}

.first_card label {
    display: block;
    font: 400 12px "Roboto", sans-serif;
    padding-bottom: 4px;
}

.first_card input {
    height: 35px;
}

.card_header_img {
    display: grid;
    margin: 20px 0 21px 51px;
}

.card_header_text,
.card_header_text input {
    width: 94%;
}

.card_header {
    display: flex;
    padding: 16px 2px 0 19px;
}

.exp_date {
    padding-top: 11px;
}

.exp_date_input {
    display: flex;
    justify-content: space-between;
}

.exp_date_input input {
    width: 100px;
}

.cardholder {
    padding: 11px 0 0 19px;
}

.cardholder input {
    width: 320px;
}

.second_card {
    background-color: #939393;
    margin-left: 139px;
    margin-top: -179px;
    z-index: 1;
}

.black_span {
    height: 45px;
    background-color: #161615;
    position: relative;
    top: 25px;
}

.cvv {
    margin-left: 244px;
    margin-top: 39px;
    text-align: center;
}

.cvv label {
    display: block;
    color: #161615;
    font: 400 12px "Roboto", sans-serif;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.cvv p {
    color: #161615;
    font: 400 10px "Roboto", sans-serif;
    border: none;
    padding-top: 6px;
    text-align: start;
    padding-left: 31px;
}

.cvv input {
    width: 75px;
    height: 35px;
}

.booking_button {
    width: 220px;
    height: 45px;
    background-color: #710707;
    margin: 25px 0 26px 279px;
}

.booking_button span {
    color: #ffffff;
    font: 400 22px "Roboto", sans-serif;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 2px;
}

.additional_layer{
    display: none;
    margin: 0 auto;
    position: fixed;
    top: -37px;
    z-index: 100;
    height: 100%;
}