

@media (max-width: 768px) {

    header .container {
        padding-top: 41px;
        height: 110px;
    }

    .social_links {
        margin-top: 30px;
    }
    .social_links ul {
        margin-right: 90px;
    }

    .footer_top {
        padding-top: 48px;
    }

    footer nav a {
        font-size: 18px;
    }

    .bottom_nav a {
        line-height: 47px;
    }

    .additional_menu {
        margin-left: 55px;
    }

    .welcome .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 40px;
        line-height: 60px;
        margin: 0;
        text-align: center;
        letter-spacing: 0.13em;
    }

    .welcome p {
        font-size: 20px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 46px;
    }

    .discover_button {
        display: none;
    }

    .mona-slider {
        margin: 0;
    }
    
    .pagination_container {
        display: flex;
        justify-content: center;
        height: 95px;
    }

    .pagination_contents {
        justify-content: space-between;
        padding: 0;
        column-gap: 45px;
        margin-top: -5px;
    }

    .pagination_contents * {
        margin: 0;
        padding: 0;
    }

    .pages_number {
        flex-grow: 93;
    }

    .squares {
        flex-grow: 205;
    }
    .squares img{
        margin-right: 25px;
    }

    .arrows {
        flex-grow: 102;
    }

    h2 {
        font-size: 40px;
        margin-top: 49px;
    }
    
    .visiting_cards {
        margin-top: 42px;
    }
    
    .visiting_cards img {
        width: 280px;
    }
    
    h3 {
        font-size: 21px;
    }

    .h3_special {
        letter-spacing: 0.17em;
    }

    .vt360 {
        font-size: 18px;
        margin-top: 9px;
    }

    .visiting_card {
        margin-bottom: 40px;
    }
    
    .explore .container {
        margin-top: 41px;
    }

    .hidding_p2 {
        display: none;
    }

    .explore .container img {
        padding: 0;
        margin: -18px 0 37px -1px;
    }

    .main_video {
        margin-top: -3px;
        padding-top: 0;
    }

    .main_video video {
        height: 386px;
    }

    .main_play_button img {
        width: 80px;
        margin-top: 126px;
    }

    .progress_timeline1 {
        display: block;
        position: relative;
        top: -64px;
        height: 6px;
        width: 100%;
        z-index: 1;
    }

    .control_play {
        margin-left: 22px;
    }

    .progress_volume {
        margin-left: 34px;
        width: 486px;
    }

    .progress_timeline2 {
        display: none;
    }

    .control_volume {
        margin-left: 31px;
        width: 25px;
    }

    .control_fullscreen {
        margin-left: 36px;
        margin-right: 3px;
        width: 28px;
    }

    .video_controls {
        height: 55px;
    }

    .three_video {
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .hidding_video {
        display: none;
    }

    .circle_pagination {
        margin: 19px 0 7px 269px;
    }

    .circle_pagination img {
        margin-right: 14px;
    }

    .third_column {
        display: none;
    }

    .gallery {
        margin-top: 58px;
    }

    .gallery h2 {
        padding-top: 48px;
        margin-bottom: -29px;
    }

    .gallery_images {
        height: 1119px;
    }

    .first_column {
        margin: 4px 23px 0 0;
    }

    .second_column {
        padding-right: 0%;
    }

    .gallery_images img {
        width: 353px;
    }

    .ticket_main {
        padding-top: 40px;
    }

    .ticket_main img {
        width: 61%;
        height: 341px;
    }

    .buy_ticket form {
        width: auto;
    }

    .form_to_buy {
        width: auto;
        padding-left: 60px;
    }

    .ticket_amount h5 {
        margin-bottom: 39px;
    }

    .age_selector {
        margin: 0 0 24px 0px;
    }

    .euro220 {
        margin-top: 40px;
    }

    .ticket_amount .buy_ticket {
        margin-top: 0px;
    }

    .euro220 span {
        letter-spacing: 0.14em;
    }

    .booking {
        max-width: 530px;
    }

    .input_fields {
        margin-top: 44px;
    }

    .overview {
        margin-top: 47px;
    }

    .cancel_button {
        right: 231px;
    }

    .parallax {
        margin-top: 40px;
        height: 300px;
    }

    .contacts_text {
        flex-wrap: wrap;
        padding-top: 62px;
    }

    .contacts_text h5 {
        padding-bottom: 39px;
        font-size: 20px;
    }

    .contacts_text p {
        padding-bottom: 16px;
        font: 100 18px "Roboto", sans-serif;
    }

    .contacts_text img {
        margin-top: 23px;
        width: 728px;
        height: 476px;
    }

    footer {
        margin-top: 62px;
    }

    


    







}

